.account-page
  .account-page__signin
    %h2 Sign up
    .account-page__create
      = link_to "Log in", new_session_path(resource_name), class: 'account-page__create-btn'
      = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post, class: 'account-page__facebook-btn'
      = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post, class: 'account-page__google-btn'
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .account-page__signin__template
        = f.label :nickname
        %em (6 characters maximum)
        %br/
        = f.text_field :nickname, autofocus: true, maxlength: "6"
      .account-page__signin__template
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      - if @sns_id.present?
        = hidden_field_tag :sns_auth, true
      - else
        .account-page__signup__template
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .account-page__signup__template
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
      .account-page__signin__template
        = f.label :firstname
        %br/
        = f.text_field :firstname
      .account-page__signin__template
        = f.label :lastname
        %br/
        = f.text_field :lastname
      .account-page__signup__template--bd-sel
        = f.label :birthday
        %br/
        = f.date_select :birthday, start_year: 1950, end_year: 2020
      = f.submit "Sign up", {class:"account-page__signup__template-next"}