<div class="contents">
  <h2><%= @post.title%></h2>
  <span class="name">
      <a href="/users/<%= @post.user.id %>">
        <p><%= @post.user.name %></p>
      </a>
  </span>
  <p><%= image_tag @post.image.url %></p>
  
    <% @post.categories.each do |category| %>
      <p><%= category.name %></p>
    <% end %>

    

  <p><%= simple_format @post.body %></p>

  <% if user_signed_in? && current_user.id == @post.user_id %>
  <%= link_to 'EDIT', edit_post_path(@post), class: "btn editbtn" %>
  <%= link_to 'DELETE', post_path(@post), method: :delete, class: "btn deletebtn", data: { confirm: '削除しますか？' } %>
  <% end %>

  <h3>Comments</h3>
  <div class="container">
    <% if current_user %>
      <%= form_for([@post, @post.comments.build]) do |f| %>
        <p>
          <%= f.text_field :body %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>
    <% end %>

    <div class="comments">
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.body %>
          </p>
        <% end %>
      <% end %>
    </div>

    
  </div>
</div>  
