<!DOCTYPE html>
<html>
  <head>
    <title>Mysns7</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
        <h1 class="header-top"><%= link_to "MY SNS", root_path, class: "btn rootbtn" %></h1>

          <% if user_signed_in? %>
            <ul class="header-lists">
              <li class="header-list">
                <%= link_to current_user.name, "/users/#{current_user.id}" %>
              </li>
              <li class="header-list">
                <%= link_to "ADD NEW", new_post_path, class: "btn addnewbtn"%>
              </li>
              <li class="header-list">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          <% else %>
            <ul class="header-lists">
              <li class="header-list">
                <%= link_to "ログイン", new_user_session_path, class: 'post' %>
              </li>
              <li class="header-list">
                <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
              </li>
            </ul>
          <% end %>
    </header>


    <%= yield %>


  </body>

</html>
